<div class="header">
  <div class="logo">
    <img src="../images/logo.png" />
    <div class="ab-header-container">
      <h1 class="ab-h1">Emerging</h1>
      <h2 class="ab-h2">Eats</h2>
    </div>
  </div>
</div>
<div class="background">
  <div class="recipe-search" id="recipe-search">
    <h3>Warm up with a new recipe created by you & Watson</h3>

    <div class="conversation">
      <div ng-repeat="qa in conversation" class="conversation-background">
        <div class="question">
          <p>
            <span class="glyphicon glyphicon-user user" aria-hidden="true"></span>
            {{qa.question}}
          </p>
        </div>

        <div class="answer">
          <div ng-if="!qa.answer.recipes">
            <img class="watson" src="images/watson-logo.png" />
            {{qa.answer}}
          </div>

          <div ng-if="qa.answer.recipes">
            <div ng-repeat="recipe in qa.answer.recipes" class="recipe-container">
              <recipe recipe="recipe"></recipe>
            </div>
            <div class="interpretation">
              <p>
                <img class="watson" src="images/watson-logo.png" />
                <span ng-if="qa.answer.recipes.length === 0">I couldn't create any recipes.</span>
                <span ng-if="qa.answer.recipes.length !== 0">
                  I think you'll like <span ng-if="qa.answer.recipes.length !== 1">these {{qa.answer.recipes.length}}</span><span ng-if="qa.answer.recipes.length === 1">this</span> meal<span ng-if="qa.answer.recipes.length !== 1">s</span>.
                  <!-- <span ng-if="qa.answer.recipes.length !== 1">s</span> relating to <span ng-repeat="interpretation in qa.answer.interpretation track by $index"><strong>{{interpretation | lowercase}}</strong><span ng-if="$index < qa.answer.interpretation.length - 1">, </span></span> -->
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <input type="text" class="input" placeholder="{{placeholder}}" ng-model="question">
      <button class="btn" ng-click="create()">Create a recipe</button>
    </div>
  </div>

  <pageslide ps-open="checked" ps-side="bottom" ps-size="100px" ps-click-outside="false">
    <div class="context-button" ng-click="checked = !checked">
      Update Context
    </div>

    <div class="context-menu">
      <div class="context-palette">
        <h4 class="context-desc">Watson thinks</h4>

        <div class="all-context">
          <div class="context-icons">
            <div ng-repeat="(key, value) in context">
              <div class="icon-container" uib-tooltip="{{key | capitalize}} - {{value | capitalize}}">
                <img class="icon" ng-src="images/icons/{{possibleContext[key][value]}}" />
              </div>
            </div>
          </div>

          <div class="add-context-icons">
            <div ng-show="showContextDetail" class="context-details">
              <div ng-repeat="(key, value) in possibleContext[showContextDetail]">
                <div class="icon-container" ng-click="addContext(key)" style="cursor: pointer" uib-tooltip="{{showContextDetail | capitalize}} - {{key | capitalize}}">
                  <img class="icon" ng-src="images/icons/{{value}}" />
                </div>
              </div>
            </div>

            <div ng-show="showContextTitles" class="context-titles">
              <div ng-repeat="(key, values) in possibleContext" class="context-title" ng-click="selectContextDetail(key)" style="cursor: pointer">
                {{key | capitalize}}
              </div>
            </div>

            <div class="icon-container" style="cursor: pointer" uib-tooltip="Add context">
              <img ng-click="showContextDetail = false; showContextTitles = !showContextTitles" class="icon" ng-src="images/icons/add.svg" />
            </div>
          </div>
        </div>
      </div>


      <div class="icon-attr">Icons made by <a href="http://www.flaticon.com/authors/retinaicons" title="Retinaicons">Retinaicons</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </pageslide>
</div>
