html, body, .ab-container {
  height: 100%;
}

.ab-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #53585F;
  height: 100%;
}

.ab-login-box {
  width: 400px;
  height: 600px;
  background: white;
  border: 2px solid #bbb;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 40px;
}

.ab-header-container {
  float: left;
}

.ab-h1 {
  color: #152935;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 64px;
  margin: -10px 0 0 0;
}

.ab-h2 {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 45px;
  margin: -15px 0 0 1px;
}

.ab-h3 {
  margin-top: 40px;
  color: white;
  text-align: center;
}

.ab-h3 small {
  color: #cecece;
}

.ab-home {
  float: left;
  width: 70%;
  height: 100%;
}

.ab-full-width {
  width: 100%;
  margin: 5px 0;
}

.ab-login-label {
  width: 100px;
  display: inline-block;
}

.ab-login-input {
  width: 212px;
}

.btn-login {
  width: 100%;
  margin: 40px 0 0 0;
  border-radius: 0;
  background-color: #53585F;
  border: none;
  color: white;
}

.btn-login:hover, .btn-login:focus {
  color: white;
}

.ab-login-error {
  height: 50px;
  text-align: center;
}

.ab-sidebar {
  width: 30%;
  height: 100%;
  background-color: #53585F;
  padding: 40px;
  float: left;
  overflow-y: scroll;
}

.ab-filter {
  height: 40px;
}

.ab-date-filter {
  height: 80px;
}

.ab-label {
  color: white;
  width: 100px;
}

.ab-dropdown {
  display: inline-block;
  width: calc(100% - 110px);
}

.ab-dropdown button {
  width: 100%;
  border-radius: 0;
}

.ab-filter-btn {
  width: 100%;
  border-radius: 0;
}

.ab-export-btn {
  margin: 40px 20px 0 0;
  float: right;
  border-radius: 0;
}

.ab-dashboard {
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: scroll;
}

.ab-overdue {
  color: #dc3912;
}

.ab-six-months {
  color: #ff9900;
}

.ab-twelve-months {
  color: #fdae6b;
}

.ab-eighteen-months {
  color: #ebcd30;
}

.ab-twentyfour-months {
  color: #98df8a;
}

/* Bootstrap overrides */

a {
  color: #fff;
  text-decoration: underline;
}

a:focus, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 305px;
  overflow-y: scroll;
}

th:hover {
    cursor: pointer;
}

small {
  font-weight: 100;
}

/* Emerging Eats */

.header {
  background: #4178BE;
  height: 150px;
  width: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  padding: 25px 100px 0;
}

.logo img {
  height: 100%;
  float: left;
}

.background {
  background: url("images/bg.jpg");
  height: calc(100% - 150px);
  width: 100%;
  padding-top: 50px;
  background-size: cover;
}

.recipe-search {
  width: calc(100% - 200px);
  min-height: 200px;
  margin: 0 100px;
  border: 3px solid white;
  background: #325C80;
  color: white;
  padding: 10px 50px;
  max-height: calc(100% - 50px);
  overflow: scroll;
}

h3 {
  margin-bottom: 20px;
}

.input {
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: calc(100% - 150px);
  color: black;
  padding: 0 20px;
  font-size: 1.2em;
  display: inline-block;
}

.btn {
  background: #4178BE;
  color: white;
  height: 50px;
  font-size: 1.2em;
  margin-left: 5px;
  display: inline-block;
  margin-top: -5px;
}

.btn:hover, .btn:active, .btn:focus {
  color: white;
  background: #0f8ac1;
  outline: none;
}

.conversation {
  margin-bottom: 20px;
  color: black;
}

.conversation-background {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.question {
  border-bottom: 1px dotted black;
}

.answer {
  margin-top: 10px;
}

.interpretation {
  margin-top: 10px;
}

strong {
  color: #e86b15;
}

.user {
  margin: 5px 15px 0 10px;
  color: #4178BE;
}

.watson {
  height: 30px;
  margin-right: 10px;
}

/* Recipe */

.recipe-container {
  display: inline-block;
  margin-right: 10px;
}

.recipe {
  width: 300px;
  color: white;
}

.recipe-content {
  background: #872A0F;
  padding: 10px;
  min-height: 340px;
}

.recipe-content img {
  width: 100%;
}

h4 {
  margin-bottom: 0;
  width: 60px;
  text-align: right;
  margin-right: 15px;
}

h5 {
  float: left;
}

.light {
  font-weight: lighter;
}

.recipe-times {
  width: 100%;
  height: 40px;
}

.recipe-times h5 {
  display: inline-block;
}

.recipe-times p {
  display: inline-block;
  margin-top: 8px;
  float: right;
}

.recipe-footer {
  background: #4178BE;
  border-radius: 0;
  border: 0;
  width: 100%;
  padding: 5px 0;
}

.recipe-footer:hover, .recipe-footer:active, .recipe-footer:focus {
  background: #0f8ac1;
  outline: none;
}

/* Full recipe */

.modal-body {
  border: 10px solid white;
  background: #FCF7E3;
}

.modal-body h3 {
  color: #E86B15;
}

.modal-body .recipe {
  width: 100%;
}

.recipe-nutrition {
  padding: 50px 20px 20px 20px;
}

.close-btn {
  background: none;
  float: right;
  margin: -20px -35px 0 0;
}

.close-btn:hover, .close-btn:focus, .close-btn:active {
  background: none;
}

.close-btn img {
  width: 80%;
}

.more-btn {
  height: 40px;
  width: calc(100% + 30px);
  margin: -15px;
  margin-top: 30px;
  border-radius: 0;
}

/* Pageslide */

.context-button {
  background: #4B620E;
  border: 4px solid white;
  border-bottom: none;
  display: inline-block;
  color: white;
  padding: 5px 15px;
  margin-top: -35px;
  margin-right: 100px;
  height: 35px;
  float: right;
  cursor: pointer;
}

.context-menu {
  background: #4B620E;
  border: 4px solid white;
  border-bottom: none;
  width: calc(100% - 200px);
  margin: 0 100px;
  height: 100%;
  color: white;
  padding: 15px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.context-palette, .context-icons, .add-context-icons, .context-titles, .context-details {
  display: flex;
}

.all-context {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-attr {
  font-size: 10px;
  bottom: 0;
  text-align: right;
}

.icon-container {
  height: 55px;
  background: white;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon {
  width: 55px;
  background: white;
  padding: 10px;
}

.context-title {
  min-width: 55px;
  padding: 0 20px;
  height: 55px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
